@tailwind base;
@tailwind components;
@tailwind utilities;

.input_video {
  @apply absolute w-full h-full z-10;
  transform: scale(-1, 1);
  object-fit: unset;
}

.output_canvas {
  transform: scale(-1, 1);
  @apply absolute w-full h-full z-20;
}

.loading {
  @apply flex w-full h-full absolute items-center justify-center z-30;
  backface-visibility: hidden;
  opacity: 1;
  transition: opacity 1s;
}

.loading .spinner {
  @apply absolute w-20 h-20 rounded-full animate-spin;
  border: solid 8px white;
  border-top: solid 8px black;
}

.loaded .loading {
  display: none;
}

.btn {
  @apply fixed bottom-3 w-20 h-10 rounded-lg z-20 text-base shadow-xl outline-none transform hover:scale-105;
}

@keyframe pan {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.pan {
  animation: pan 0.7s cubic-bezier(0.1, 0.87, 0.78, 1.35) 1;
}
